/* Main and Navigation */

body {
    background-color: #f7f0e7;
    font-family:Arial, Helvetica, sans-serif ;
}

main {
    margin-top: 10%;
}

nav ul {
    text-align: center;
    list-style-type: none;
    background-color: #925E78;
    border-radius: 50%;
    padding: 2%;
}
    nav li {
        display: inline;
    }
    nav a {
        color: #fffcf7;
        text-decoration: none;
        font-weight: bold;
        padding-left: 5%;
        padding-right: 5%;
    }

/* Headers and text */

.title {
    margin-top: 9%;
    margin-bottom: 6%;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    background-color: #925E78;
    color:#f7f0e7;
    padding-left: 5%;
    font-size: 45px;
    font-style: italic;
}

    h2.stripe {
        padding-left: 5%;
        background-color: #BA6969;
        color:#f7f0e7;
    }

    h2.stripe1 {
        padding-left: 5%;
        background-color:#813e5f;
        color:#f7f0e7;
    }

h3 {
    margin-top: 8%;
    padding-left: 5%;
    font-size: 30px;
    background-color:#7a7929;
    font-style: italic;
    color:#f7f0e7
}

p {
    margin-left: 5%;
    margin-right: 5%;
    color:#303030;
    font-size: large;
}

ol {
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1.5%;
    color: none;
    font-style: italic;
    border-style: solid;
    border-color: #86586f;
    border-width: 3px;
    border-radius: 10px;
    background-color: #fcebd7
}
ol.flexed-list {
    margin-bottom: 20%;
}

figcaption {
    color:rgb(99, 98, 98);
    font-style: italic;
    text-align: center;
}

footer {
    margin-top: 20%;
}

    p.footer {
        text-align: center;
        color:gray
    }

/* Classes */

.logo {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.summarycenter {
    text-align: center;
    color: #575757;
    font-size: 20px;
    font-style: italic;

}

.insta {
    margin-top: 20%;
    margin-right: 10%;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .row1 {
        margin-right: 5%;
    }

    .row2 {
        display: flex;
        flex-direction: row;
    }

/* ID */

#hello {
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    color:#454411
}
#homepage-text {
    padding-left: 7%;
    padding-right: 5%;
}

#disclaimer {
    color:gray;
    font-style: italic;
}

#started {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color:#454411
}

#optional {
    background-color:#899498;
    color:#f7f0e7;
    font-style: italic;
}

#trust{
    font-style: normal;
    color:#ba9494
}

#quote {
    margin-top: 10%;
    margin-left: 3%;
    color:#9f2859;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    width:55%;
}

#home-image {
    margin-left: 5%
}

#new-section {
    margin-top: 10%;
}

figure > img, picture > img {
    border-radius: 5%;
}

div.project picture > img {
    border-radius: 0%;
}

@media (max-width: 700px) {

    nav ul {
        text-align: center;
        list-style-type: none;
        background-color: #925E78;
        border-radius: 45%;
        padding: 3.5%;
        padding-top: 5%;
    }

    #home-image {
        margin-left: 0%
    }
    .logo {
        width: 40%;

    }
    figure, picture {
        margin:2%;
    }

    .row, .row1, .row2 {
        display:contents;
    }

    .insta {
        margin-top: 10%;
        margin-right: 0%;
        font-size: 35px;

}
}
